@import '../config/common-variables';
@import 'button';
@import 'check';
@import 'code-search';
@import 'datepicker';
@import 'radio';
@import 'select-tree';
@import 'text';
@import 'toggle';
@import 'upload';

[class^=demo-],
.design-demo {
	// line-height: $demo-comp-inner-line-height;
	hr.disabled.normal-line {
		border-bottom: $border;
	}
	hr.focus-line {
		display: none;
	}
}

.component-receiver {
	min-height: $design-panel-height;
	border: 1px dashed $border-color;
	margin: $margin-0 $margin-outward-15;
	&:before {
		content: '';
		display: table;
	}
	&:after {
		content: '';
		display: table;
		clear: both;
	}

	.cell {
		.cell-inner-area {
			// padding: $pad-3 $pad-0 $pad-2;
			// border: 1px dashed $border-color;
			cursor: pointer;
			&:hover {
				outline-color: #E0E0E0;
				outline-style: dotted;
				outline-width: 2px;
				> .cell-operations {
					display: block;
				}
			}
			&:focus,
			&:focus:hover {
				outline-color: $demo-comp-focus-border-color;
				outline-style: solid;
				outline-width: 2px;
				> .cell-operations {
					display: block;
				}
			}
			&.horizontal {
				&:before {
					content: '';
					display: table;
				}
				&:after {
					content: '';
					display: table;
					clear: both;
				}
				.cell-label {
					padding-left: $pad-0;
					line-height: $demo-comp-line-height;
				}
				.cell-component {
					padding-right: $pad-0;
					padding-left: $pad-0;
				}
			}
		}
		.cell-operations {
			position: absolute;
			right: 7px;
			font-size: $font-size-15;
			line-height: $demo-comp-op-btn-line-height;
			top: -14px;
			color: $demo-comp-op-btn-color;
			display: none;
			i {
				background: $container-bg-color;
    			border-radius: 100%;
			}
		}
		.cell-label {
			white-space: nowrap;
			overflow-x: hidden;
			text-overflow: ellipsis;
			display: none;
		}
		.cell-component {
			line-height: $demo-comp-line-height;
			&:before {
				content: '';
				display: table;
				&:empty {
					min-height: $demo-comp-line-height;
				}
			}
			&:after {
				content: '';
				display: table;
				clear: both;
			}
		}
	}
}