.design-demo.n-disabled.n-array-check {
    cursor: pointer;
    div.n-checkbox.n-disabled {
    	div.check-container,
    	span.check-label.disabled {
	    	cursor: pointer;
	    }
    }
}

.design-demo.n-disabled.n-checkbox {
	div.check-container,
	span.check-container.disabled {
		cursor: pointer;
	}
}