.design-demo.n-disabled.n-file {
	.file-input .form-control.file-caption.kv-fileinput-caption {
		background-color: transparent;
	}
	.file-caption-disabled {
		cursor: pointer;
	}
	.btn[disabled] {
		cursor: pointer;
	}
}