// common
$line-height:						1.846;
// background
$bg-color:							#fff;
$primary-color:						#80CBC4;
$advice-color:						#ef9a9a;

// font
$font-family:						'Source Code Pro', 'Microsoft YaHei', Arial;
$font-avant:						'Itc Avant Garde Gothic', 'Source Code Pro', 'Microsoft YaHei', Arial;
$font-size:							13px;
$font-size-05:						0.5em;
$font-size-06:						0.6em;
$font-size-07:						0.7em;
$font-size-08:						0.8em;
$font-size-09:						0.9em;
$font-size-11:						1.1em;
$font-size-12:						1.2em;
$font-size-13:						1.3em;
$font-size-14:						1.4em;
$font-size-15:						1.5em;
$font-size-16:						1.6em;
$font-size-17:						1.7em;
$font-size-18:						1.8em;
$font-size-19:						1.9em;
$font-size-20:						2em;
$font-size-30:						3em;
$font-size-40:						4em;
$font-size-50:						5em;
$font-title-size:					$font-size-20;
$font-title-2nd-size:				$font-size-16;
$font-color:						#666;
$font-color-reverse:				#fff;
$font-bold:							bold;

// border
$border-color:						#e0e0e0;
$border:							1px solid $border-color;
$border-radius-0:					0;
$border-radius-1:					1px;
$border-radius-2:					2px;
$border-radius-3:					3px;
$border-radius-4:					4px;
$border-radius-5:					5px;
$border-radius-6:					6px;
$border-radius-7:					7px;
$border-radius-8:					8px;
$border-radius-9:					9px;
$border-radius-10:					10px;

// padding
$pad-0:								0;
$pad-1:								1px;
$pad-2:								2px;
$pad-3:								3px;
$pad-4:								4px;
$pad-5:								5px;
$pad-6:								6px;
$pad-7:								7px;
$pad-8:								8px;
$pad-9:								9px;
$pad-10:							10px;
$pad-11:							11px;
$pad-12:							12px;
$pad-13:							13px;
$pad-14:							14px;
$pad-15:							15px;

// margin
$margin-0:							0;
$margin-1:							1px;
$margin-2:							2px;
$margin-3:							3px;
$margin-4:							4px;
$margin-5:							5px;
$margin-6:							6px;
$margin-7:							7px;
$margin-8:							8px;
$margin-9:							9px;
$margin-10:							10px;
$margin-11:							11px;
$margin-12:							12px;
$margin-13:							13px;
$margin-14:							14px;
$margin-15:							15px;
$margin-outward-1:					-1px;
$margin-outward-2:					-2px;
$margin-outward-3:					-3px;
$margin-outward-4:					-4px;
$margin-outward-5:					-5px;
$margin-outward-6:					-6px;
$margin-outward-7:					-7px;
$margin-outward-8:					-8px;
$margin-outward-9:					-9px;
$margin-outward-10:					-10px;
$margin-outward-11:					-11px;
$margin-outward-12:					-12px;
$margin-outward-13:					-13px;
$margin-outward-14:					-14px;
$margin-outward-15:					-15px;

// pixels
$px-0:								0;
$px-1:								1px;
$px-2:								2px;
$px-3:								3px;
$px-4:								4px;
$px-5:								5px;
$px-6:								6px;
$px-7:								7px;
$px-8:								8px;
$px-9:								9px;
$px-10:								10px;
$px-11:								11px;
$px-12:								12px;
$px-13:								13px;
$px-14:								14px;
$px-15:								15px;

// zindex
$docker-zindex:						100;

// container
$container-bg-color:				#fff;
$container-title-line-height:		2em;
$container-title-2nd-line-height:	$container-title-line-height * 0.8;
$body-bg-color:						$container-bg-color;

// component
$left-docker-width:					250px;
$demo-comp-focus-border-color:		#FF9800;
$demo-comp-line-height:				2.308em;
$demo-comp-inner-line-height: 		2.231em;
