@import 'common-variables';

@mixin container-title-std() {
    font-weight: bold;
    overflow-x: hidden;
    white-space: normal;
    word-break: break-word;
    padding: $pad-0 $pad-10;
}
@mixin container-title() {
    @include container-title-std();
	font-size: $font-title-size;
	line-height: $container-title-line-height;
}
@mixin container-title-2nd() {
    @include container-title-std();
	font-size: $font-title-2nd-size;
	line-height: $container-title-2nd-line-height;
}

@mixin container-row() {
    &:before {
        content: '';
        display: table;
    }
    &:after {
        content: '';
        clear: both;
        display: table;
    }
}

@function strip-unit($number) {
    @if type-of($number) == 'number' and not unitless($number) {
        @return $number / ($number * 0 + 1);
    }

    @return $number;
}

@mixin left-docker() {
    position: fixed;
    top: 0;
    left: 0;
    z-index: $docker-zindex;
    background-color: $container-bg-color;
    width: 250px;
    border-right: 1px solid $left-docker-border-color;
    height: 100vh;
}
@mixin left-docker-hidden() {
    width: 0;
}