@import '../config/common-variables';

.bottom-docker {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: $docker-zindex;
	.bottom-docker-bar {
		border-top: $border;
		background-color: $border-color;
		@include container-row();
		.docker {
			&.left {
				float: left;
			}
			.docker-btn {
				border-right: $border;
				border-right-color: darken($primary-color, 30%);
				font-family: $font-avant;
				font-weight: $font-bold;
				font-size: $font-size-11;
				padding: $pad-0 $pad-10;
				cursor: pointer;
				margin: $margin-3;
				&.expanded,
				&:hover {
					color: darken($primary-color, 30%);
					text-decoration: underline;
				}
				span {
					margin-left: $margin-3;
				}
			}
		}
	}
	.docker-body {
		div.horizontal-label > div.row > div:first-child > span {
			font-weight: $font-bold;
			text-transform: capitalize;
		}
	}
}

.left-docker-expanded {
	.docker-body {
		margin-left: 250px;
	}
}