@import '../config/common-variables';
@import 'frame';

#bottom-docker {
	position: fixed;
	left: 0;
	right: 0;
	bottom: $docker-bottom-bar-height;
	z-index: $docker-zindex;
	background-color: $container-bg-color;
	> div > div[class$='-body'] {
		max-height: 270px;
	}
	div.horizontal-label > div.row {
		> div:first-child {
			padding-right: $pad-5;
			> span {
				font-weight: $font-bold;
				text-transform: capitalize;
			}
		}
		> div:last-child {
			padding-left: $pad-5;
		}
	}
}
.bottom-docker-bar-container {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: $docker-zindex;
	.bottom-docker-bar {
		border-top: $border;
		background-color: $border-color;
		@include container-row();
		.docker {
			&.left {
				float: left;
				.docker-btn {
					border-right: $border;
					border-right-color: darken($primary-color, 30%);
				}
			}
			&.right {
				float: right;
				.docker-btn {
					border-left: $border;
					border-left-color: darken($primary-color, 30%);
				}
			}
			.docker-btn {
				font-family: $font-avant;
				font-weight: $font-bold;
				font-size: $font-size-11;
				padding: $pad-0 $pad-10;
				cursor: pointer;
				margin: $margin-3;
				&.expanded,
				&:hover {
					color: $hover-link-color;
					text-decoration: underline;
				}
				span {
					margin-left: $margin-3;
				}
			}
		}
	}
}

.left-docker-expanded {
	#bottom-docker {
		left: $left-docker-width;
	}
}