@import '../config/mixins';

.docker-stylesheet {
	.docker-stylesheet-header {
		position: relative;
		@include container-title-2nd();
		.docker-stylesheet-header-label {
			white-space: nowrap;
			float: left;
			display: block;
		}
	}
	.docker-stylesheet-body {
		padding: $pad-3 $pad-10 $pad-2;
	}
}
