@import '../config/mixins';

.docker-components-container {
	@include left-docker();
	&.hidden {
		@include left-docker-hidden();
	}
}
.docker-components {
	.docker-components-header {
		position: relative;
		@include container-title-2nd();
		.docker-components-header-label {
			white-space: nowrap;
			float: left;
			display: block;
		}
	}
	.docker-components-body {
		@include container-row();
		.component-group {
			width: 100%;
			float: left;
			@include container-row();
			.component-group-title {
				cursor: pointer;
			    @include container-title-2nd();
			}
			.component-group-body {
				padding: $pad-3;
				@include container-row();
				.component {
					float: left;
					width: 50%;
					white-space: nowrap;
					overflow-x: hidden;
					cursor: pointer;
					transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1);
					font-family: $font-avant;
					text-transform: capitalize;
					&:hover {
						box-shadow: 0 1px 3px rgba(0,0,0,0.16), 0 1px 3px rgba(0,0,0,0.23);
					}
					.first-char {
						font-size: 1.8em;
						padding-left: $pad-10;
					}
				}
			}
		}
	}
}