@import '../config/mixins';

.docker-position {
	.docker-position-header {
		position: relative;
		@include container-title-2nd();
		.docker-position-header-label {
			white-space: nowrap;
			float: left;
			display: block;
		}
	}
	.docker-position-body {
		padding: $pad-3 $pad-10 $pad-2;
	}
}
