@import '../config/common-variables';

$docker-bottom-bar-height:				#{$px-0}px;
$docker-bottom-bar-btn-bg-color:		#00ACC1;
$docker-bottom-bar-btn-height:			$px-40;
$docker-bottom-bar-btn-width:			$px-40;
$docker-bottom-bar-btn-font-size:		2em;
$docker-bottom-bar-btn-line-height:		1.5em;
$docker-bottom-bar-tip-arrow-border-width:		$px-6;
$docker-bottom-bar-pad:					$px-5;

$docker-left-title-height:				calc(#{strip-unit($font-title-2nd-size)} * #{$container-title-2nd-line-height});
