@import '../config/common-variables';
@import 'frame';

.main-content.component-receiver {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	min-height: 100%;
	padding: $pad-15;
	padding-bottom: calc(#{$pad-15} + #{$docker-bottom-bar-height});
	margin: $margin-0 $margin-outward-15;
	border: 0;
}

.left-docker-expanded {
	.main-content {
		left: $left-docker-width;
		width: initial;
		right: 0;
	}
}