@import '../config/common-variables';

.main-content {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	min-height: 100%;
	padding: $pad-0 $pad-15;
	// padding-bottom: calc(#{$pad-15} + #{$docker-bottom-bar-height});
	margin: $margin-0 $margin-outward-15;
	border: 0;
	.main-content-tabs-nav {
		position: relative;
		float: left;
		height: calc(#{strip-unit($font-title-2nd-size)} * #{$container-title-2nd-line-height});
		border-bottom: 1px solid $design-tab-active-border-color;
	    i {
	    	cursor: pointer;
	    	color: $primary-color;
	    	font-size: $font-title-2nd-size;
	    	line-height: $container-title-2nd-line-height;
	    }
	    i:first-child {
	    	margin-right: $margin-outward-10;
	    }
	}
	.main-content-tab-nav-more {
		position: absolute;
		top: 0;
		right: $px-15;
		height: calc(#{strip-unit($font-title-2nd-size)} * #{$container-title-2nd-line-height});
		border-bottom: 1px solid $design-tab-active-border-color;
	    i {
	    	cursor: pointer;
	    	color: $primary-color;
	    	font-size: $font-title-2nd-size;
	    	line-height: $container-title-2nd-line-height;
	    }
	}
	.main-content-tabs {
		position: relative;
		list-style: none;
		margin: 0 $px-27 0 0;
		padding: 0;
		overflow: hidden;
		white-space: nowrap;
		height: calc(#{strip-unit($font-title-2nd-size)} * #{$container-title-2nd-line-height});
		border-bottom: 1px solid $design-tab-active-border-color;
		.main-content-tab-title {
			display: inline-block;
			padding: $pad-0 $pad-18;
			position: relative;
			&:not(:first-child) {
				margin-left: $margin-outward-10;
			}
			canvas.left {
				position: absolute;
				top: $px-3;
				left: 0;
			}
			canvas.right {
				position: absolute;
				top: $px-3;
				right: 0;
				transform: scale(-1, 1);
			}
			canvas.cursor-pointer {
				cursor: pointer;
			}
			.main-content-tab-title-content {
				padding-top: $pad-3;
				position: relative;
				&:before {
					content: '';
					top: $px-3;
					position: absolute;
					width: 100%;
					border-top: $px-2 solid $design-tab-border-color;
				}
				.main-content-tab-label {
					line-height: $px-30;
					display: inline-block;
					color: $design-tab-font-color;
					padding: 0 10px;
					background-color: $design-tab-bg-color;
					cursor: pointer;
				}
				i {
					line-height: $px-30;
					background-color: $design-tab-bg-color;
					color: $design-tab-font-color;
					cursor: pointer;
				}
			}
			&.active {
				z-index: 999;
				.main-content-tab-title-content {
					&:before {
						border-top-color: $design-tab-active-border-color;
					}
					.main-content-tab-label {
						background-color: $design-tab-active-bg-color;
					}
					i {
						background-color: $design-tab-active-bg-color;
					}
				}
			}
		}
	}
	> .component-receiver {
		min-height: calc(100% - #{$px-30});
		position: absolute;
		width: 100%;
		border: none;
		margin: $margin-0;
		padding: $pad-15 $pad-0;
	}
}

.left-docker-expanded {
	.main-content {
		left: $left-docker-width;
		width: initial;
		right: 0;
	}
}