@import '../config/common-variables';

@mixin header-expand-btn() {
	content: '\f102';
	font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: inherit;
    font-family: FontAwesome;
    transition: all 0.5s;
}
@mixin header-collapsed-btn($where) {
	&:#{$where} {
		transform: rotate(180deg);
	}
}
.header-expand-btn-tail {
	overflow-y: hidden;
	&:after {
		position: absolute;
	    right: $px-10;
	    @include header-expand-btn();
	}
	&.collapsed {
		@include header-collapsed-btn('after');
	}
}
.header-expand-btn-lead {
	overflow-y: hidden;
	&:before {
		margin-right: $margin-10;
    	display: inline-block;
		@include header-expand-btn();
	}
	&.collapsed {
		@include header-collapsed-btn('before');
	}
}
.header-expand-btn-follow {
	overflow-y: hidden;
	&:after {
		display: inline-block;
    	margin-left: $margin-10;
		@include header-expand-btn();
	}
	&.collapsed {
		@include header-collapsed-btn('after');
	}
}

.collapsed > .header-expand-btn-tail,
.collapsed > .header-expand-btn-follow {
	@include header-collapsed-btn('after');
}

.collapsed > .header-expand-btn-lead {
	@include header-collapsed-btn('before');	
}